* {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  margin: 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #e7f1e3e8; */
  background-color: #293b30;


}




/* Main Page Layout */

#main-content {
  /* margin: 150px 70px; */
  /* padding: 225px 425px; */

  display: flex;
  flex-direction: column;
  gap: 80px;
}




/* Portfolio Header */

#portfolio-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

#portfolio-header-image-container {
  
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 50%;
  /* padding: 40px; */
  

}

.portfolio-header-image {
  width: 100%;
  height: auto;
  border-radius: 10%; 
}



#portfolio-header-text-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  flex-basis: 50%;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}




/* About Section */

#about-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fef7e4;
  padding: 2em 4em;
  border-radius: 40px; /* This line adds rounded corners. Adjust the value as needed. */
  font-family: "PT Sans Narrow", sans-serif;


}

.about-section-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}


/* skill section */
#skill-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fef7e4;
  padding: 2em 4em;
  border-radius: 40px; /* This line adds rounded corners. Adjust the value as needed. */
  font-family: "PT Sans Narrow", sans-serif;

}

.skill-section-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}






/* Project Section */

#my-work-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projects-container {
  display: flex;
  gap: 34px 16px;
  flex-wrap: wrap;
}

/* Project Cards */

.project-card {
  max-width: calc((100% - 32px) / 3);
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.project-card-text-container {
  flex-direction: column;
  display: flex;
  gap: 16px
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}




/* Project Pages */

#project-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-header-image {
  width: 100%;
  height: auto;
}

#project-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-details-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

    /* Project Gallery */

    #project-gallery {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .project-gallery-content {
      display: flex;
      flex-wrap: wrap;
      gap: 34px 16px;
    }

    .gallery-image-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .gallery-image-container.half-width {
      width: calc((100% - 16px) / 2);
    }

    .gallery-image {
      width: 100%;
      height: auto;
    }


/* Extra Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1600px) {
  #main-content {
    margin: 150px 275px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1200px) {
  #main-content {
    margin: 150px 175px;
  }
}

/* Large devices (laptops/desktops, 1000px and below) */
@media only screen and (max-width: 1000px) {
  #main-content {
    margin: 150px 75px;
  }
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #main-content {
    margin: 150px 50px;
  }

  #portfolio-header {
    flex-direction: column;
  }

  .project-card {
    max-width: calc((100% - 16px) / 2);
  }
}

/* Small devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
  #main-content {
    margin: 125px 20px;
  }

  .project-card {
    max-width: 100%;
  }
}





.carousel {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fef7e4;
  padding: 2em 4em;
  border-radius: 40px;
  font-family: "PT Sans Narrow", sans-serif;
  margin: auto; /* Centers the carousel within its parent */
  width: 100%; /* Ensures the carousel grows responsively to the width of its container */
  /* height: 40%; */
}
.carousel-image-container {
  position: relative;
  width: 100%; 
  height: 100%;
  display: none;
  flex-direction: column;
  /* Make sure to set the width and height or they will be auto */
}
.carousel-image-container.active {
  display: flex; /* Change to block or inline-block depending on your layout */
  /* Other styles to make the active item display correctly */
}

.carousel-images {
  display: flex; /* Flexbox layout for the image container */
  justify-content: center; /* Center images horizontally */
  align-items: center; /* Center images vertically */
  height: 100%; 
  width: 100%; 
  overflow: hidden; /* Hide any overflowing parts of the images */
}

.carousel-images img {
  width: 100%; /* Maximum width of the image is the width of its container */
  height: 100%; /* Maximum height of the image is the height of its container */
  display: block; /* Show images as block elements */
  object-fit: contain; /* Ensures the image is scaled to be as large as possible but contained within the element's box */
  border-radius:10px;
  /* margin:10px */
}


.image-info {
  position: absolute;
  bottom: 0; /* Start from the bottom of the .carousel-image-container */
  left: 0;
  width: 100%; /* Take full width of the parent container */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  transform: translateY(100%); /* Hide the .image-info by pushing it down */
  transition: transform 0.3s ease-in-out; /* Animation for smooth effect */
  padding: 5em;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.carousel-image-container:hover .image-info {
  transform: translateY(0); /* Bring the .image-info up on hover */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.2);
  color: white;
  border: none;
  cursor: pointer;
  padding: 20px;
  z-index: 0;
}

.carousel-button.left {
  left: 0;
}

.carousel-button.right {
  right: 0;
}
