
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-title {
  font-weight: 700;
  font-size: 50px;
  color: #fdf5c4;
}

.button-text {
  font-size: 20px;
  font-weight: 700;
  color: #fdf5c4;

}
#btn-cv-text{
  font-size: 30px;
  margin: 10px;
  color: #293b30;

}
.image-caption {
  font-size: 14px;
  font-weight: 500;
}

.main-title {
  font-size: 70px;
  font-weight: 700;
  color: #fdf5c4;

}

#main-title-body{
  font-size: 20px;
  font-weight: 530;
}
.header-text{
  display: flex;
  flex-direction: column;
  color: #fdf5c4;


}
.subheader-text {
  font-size: 20px;
  font-weight: 700;
}

.body-text {
  font-size: 16px;
  font-weight: 500;
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#contact-me-btn-text{
  font-size: 16px;
}